<!--Se crea archivo solo para el Header-->

<!-- Header -->
    <header id="header">
        <h1>Lens</h1>
        <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        <ul class="icons">
        <!--Se cambian las rutas para las imagenes de HTML a Ruby-->
            <li><%= image_tag "rrss/facebook-black.svg", class:"smallimg"%></li>
            <li><%= image_tag "rrss/github-black.svg", class:"smallimg"%></li>
            <li><%= image_tag "rrss/insta-black.svg", class:"smallimg"%></li>
            <li><%= image_tag "rrss/twitter-black.svg", class:"smallimg"%></li>
        </ul>
    </header>